$primary-color-green: white;
$primary-color-blue: #7510F7;
$accent: #F2045B;
$accent-hover: #c00247;


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Athiti', sans-serif;
  font-weight: lighter;

}

.underline{
  border-top: 5px $accent solid;
  width: 100px;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
}


// h1{
//   font-family: 'Fira Sans', sans-serif;
// }

h1{
  color: $primary-color-blue;
  font-weight: lighter;
  text-transform: lowercase;
  font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1600 - 320)));
  padding: 0.5rem 2rem;
}

h2{
  color: $primary-color-blue;
  padding: 0.5rem 2rem;
  font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1600 - 320)));
}

