
@import '../../App.scss';
.container{
    position: relative;
    background: $primary-color-green;
    min-height: 100vh;
    background-image: url('../../images/background2.svg');
    background-blend-mode: color;
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: top;

    h1{
        font-size: 2.5em;
        color: $primary-color-blue;
        text-align: center;
        padding-top: 10vh;
    }
    .underline{
        margin: auto;
        padding: 0;
    }
    .summary{
        margin: 0.5em 0;
        color: $primary-color-blue;
        text-align: center;
        font-size: 1.2em;
    }

    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .left{
            padding: 0 1em;
            text-align: center;
            .carousel{
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
               
                max-width: 350px;
                max-height: 350px;

                .dot{
                    background: white;
                    border: 0.5px solid $primary-color-blue;
                }

                .control-arrow{
                    background: $primary-color-blue;
                    // color: $primary-color-green;
                    height: 50px;
                    margin: auto;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            padding: 0 1em;
            max-width: 500px;
            h2{
                text-align: left;
                font-size: 2em;
                color: $primary-color-blue;
                margin: 0.5em 0;
            }
            
            h3{
                color: $primary-color-blue;
                margin: 0.8em 0;

            }
            .roles, .technologies{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .role, .technology{
                    background: $primary-color-blue;
                    padding: 0.2em 0.8em;
                    margin: 0.2em;
                    font-size: 0.9em;
                    border: 2px solid $primary-color-blue;
                    color: white;
                    text-transform: lowercase;

                }
            }

            li{
                color: $primary-color-blue;
               margin-left: 1em;
            }

            .buttons{
                display: flex;
                justify-content: flex-end;
                .button{
                    border: 2px solid $primary-color-blue;
                    outline: 0;
                    width: 150px;
                    margin: 0.8em 0.5em;
                    text-align: center;
                    border-radius: 50px;
                    color: $primary-color-blue;
                    padding: 10px 20px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover{
                        background: $primary-color-blue;
                        color: white;
                    }
                }
            }
        }
    }
}