@import '../../App.scss';

.landing{
    background: $primary-color-green;
    background-image: url('../../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img{
        margin: 1.5em 0;
    }

    .background{
        position: absolute;
        z-index: 1;
        align-self: flex-end;
        bottom: 0;
    }

    .welcome{
        text-align: center;
        h1{
            color: $primary-color-blue;
            font-weight: bold;
            font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1600 - 320)));
            padding: 0.5rem 2rem;
        }
        
        h2{
            color: $primary-color-blue;
            padding: 0.5rem 2rem;
            font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1600 - 320)));
        }
    }

    .avatar{
        max-width: 100%;
        width: 210px;
        height: auto;
        padding: 1rem;
    }

    
    .contact-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        z-index: 2;


        .contact-icon{
            padding: 0 0.5rem;
            max-width: 100%;
            width: 70px;
            height: auto;
            transition: 0.15s transform ease-in;

            &:hover{
                transform: scale(1.3);
             }
        }
        
    }

        
   
}
